.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;

  background-color: #282c34;
  min-height: 75vh;
  padding-bottom: 24px;
}

.App-link {
  padding-top: px;
  color: #7b7b7b;

}

.App-version {
  color: #7b7b7b;
  font-size: 8px;
  margin-top: 16px;
  /* justify-content: right; */
  /* text-align: right; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
